.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    @media screen and (max-width: 500px) {
          text-align: center;
    }
  }

  .preview {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 500px) {
          flex-wrap: wrap;
          flex-direction: column;
    }
  }
}