.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;
  @media screen and (max-width: 800px) {
    width: 45%;
    margin: 0;
    padding: 10px;
  }
  @media screen and (max-width: 500px) {
    width: 95%;
    margin: auto;
  }
  .button {
    @media screen and (max-width: 800px) {
          .custom-button{
            width: 200px;
            margin: 10px auto;
          }
    }
    @media screen and (max-width: 500px) {
          .custom-button{
            width: 230px;
            margin: 10px auto;
          }
    }
  }
  .title {
    margin: 10px 0;
  }
}
